h2 {
    text-align: center;
}
.main-content {
    display: flex;
}
.middle-section {
    display: flex;
    flex-direction: column;
}
.dropboxes {
    
    border: solid 1px black;
    padding: 4px;
    align-items: center;
    justify-content: space-evenly;
    
}
.selected-options {
   display: flex;
}
.weather {
    
    border: solid 1px black
}

.itinerary-list {
    
    border: solid 1px black
}
.buttons {
    border: solid 1px black;

}
.button {
    text-align: center;
}

